@import "../../style/base.scss";

@include main-container {
    @include container-items-center;
    @include padding-x(0 !important);
    
    flex-grow: 1;
    width: 100%;
    padding-top: 0 !important;
    background-color: $primary-color;

    .innerContainer {
        @include padding(20px);

        background-color: $background-color;
        width: 400px;
        border-radius: 20px;
        box-shadow: $shadow-black;

        .title {
            @include font($font-size-xl, $font-bold);
        }
        .formFields {
            @include container-y;
            
            gap: 20px;
            align-items: center;
            margin-top: 20px;

            .field {
                width: 100%;
            }
        }
        .button {
            margin-top: 10px;
        }
    }
}