@import "../../style/base.scss";

.container {
  @include container-items-center;
  border: 2px solid $background-neutral;
  width: fit-content;
  position: relative;
  border-radius: 6px;
  @include media-screen-xs {
    width: 100%;
  }

  .icon {
    @include container-items-center;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    right: 0;
  }

  select {
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 6px;
    @include media-screen-xs {
      width: 100%;
    }

    option {
      font-size: 20px;
    }
  }

  select:focus {
    outline: none;
  }
}
