$background-color: #ffffff;
$primary-color: #5e1807;
$primary-color-darker: #681a07;
$secondary-color: #c4ad2f;
$secondary-color-darker: #a08c1b;
$border-color: #FFF;
$text-color: #000000;
$text-color-hover: #424242;
$text-color-active: #585858;

$shadow-black: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);