// $background-color: #ffffff;
$background-color: #ffff;
$primary-color: #5e1807;
$primary-color-darker: #681a07;
$secondary-color: #c4ad2f;
$secondary-color-darker: #a08c1b;
$border-color: #FFF;
$text-color: #000;
$text-color-hover: #bdbdbd;
$text-color-active: #868686;
$text-color-secondary: #fff;

$category-work: #87baf4;
$category-family: #8ac2a3;
$category-personal: #ef864a;

$shadow-black: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
